
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
  .built{
    margin-right: 23%;
  
  }
  .row btn{
      margin-left: 200px;

 
  }
  ul#menu li {
      display:inline;
    }
    .footer{
        height: 300px;
    }
	.navbar {
		transition: all 0.4s;
	}
	
	.navbar .nav-link {
		color: #fff;
	}
	
	.navbar .nav-link:hover,
	.navbar .nav-link:focus {
		color: #fff;
		text-decoration: none;
	}
	
	.navbar .navbar-brand {
		color: #fff;
	}
	
	
	/* Change navbar styling on scroll */
	.navbar.active {
		background: #fff;
		box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
	}
	
	.navbar.active .nav-link {
		color: #555;
	}
	
	.navbar.active .nav-link:hover,
	.navbar.active .nav-link:focus {
		color: #555;
		text-decoration: none;
	}
	
	.navbar.active .navbar-brand {
		color: #555;
	}
	
	/* Change navbar styling on small viewports */
	@media (max-width: 991.98px) {
		.navbar {
			background: #fff;
		}
	
		.navbar .navbar-brand, .navbar .nav-link {
			color: #555;
		}
	}
	
	.listing-home-active {
	  transform: scale(1.05);
	  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	  background: #F91942;
	}
	
	.addlisting {
	  transform: scale(1.05);
	  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	  background: #BFBFBF;
	}
	
	.addlisting:hover {
	  transform: scale(1.05);
	  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	  background: #F91942;
	}
	
	.listing-home:hover {
	  transform: scale(1.05);
	  background: #F91942;
	}
	.row1{
		margin-top: 4%;
	}
	
footer {
	background: #0d0d0e;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top:100px;
  }
  
  footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
  }
  
  ul.social-network li {
	display: inline;
	margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
	background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
	background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
	color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: #F9F9F9;
  }
 .subscribe{
	  justify-content: center;

  }
  .ken{
	  margin-top: 23px;
  }.main{
   background-color: #F91942;
  }
  .shoe{
	  width: 70px;
	  height: 210px;
  }
  .marten{
	  width: 71px;
	  height: 200px ;
  }

  
	